template(name="money")
    | {{sum}}

template(name="PersonListItem")
  //- todo: table? vomiting!!!
  table(style="width: 100%") 
    tr
      td(style="width: 50%")
        | {{name}} 
      td(style="text-align: right; padding-right: 100px")
        | {{personDuty}}
